.header {   
    width: 100%;
}
/* navbar header */

.navbar__heading {
    display: flex;
    background-color: var(--primery-color);
    justify-content: space-between;
    width: 100%;
    height: 38px;
    top: 0;

    
   

}

.navbar__intro {
    display: inline-block;
    line-height: 38px;
    left: 172px;
    font-size: 1.4rem;
    font-weight: 100;
}

.navbar__intro-languages {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    margin-right: 20px;
    font-size: 1.4rem;
    font-weight: 100;

}

.navbar__intro-languages i {
    margin-right: 8px;
}

.navbar__intro-languages-Eng {
    text-decoration: none;
    color: var(--white-color);
    margin-right: 20px;

}

.navbar__intro-languages-ES {
    text-decoration: none;
    color: var(--white-color);
    margin-right: 20px;

}

.navbar__intro-social {
    text-decoration: none;
    color: var(--white-color);
    margin-right: 20px;
}

.navbar__intro-social-link {
    text-decoration: none;
    color: var(--white-color);
    margin-right: 8px;
}

.navbar__intro-social-link i:hover {
    cursor: pointer;

}
.navbar__intro-social-link i {
    margin: 0 8px 0 0;
}

.navbar__intro-social-link span:hover {
    cursor: pointer;
}

.navbar__contact {
    display: inline-block;
    float: right;
    font-size: 1.4rem;
    font-weight: 300;
}

.navbar__contact-packages {
    padding-right: 20px;
    color: var(--white-color);
    line-height: 38px;
    text-decoration: none;
}

.navbar__contact-packages i {
    margin-right: 8px;
}

.navbar__contact-link {
    color: var(--white-color);
    line-height: 34px;
    text-decoration: none;

}

.navbar__contact-link i {
    margin-right: 8px;
}

/* navbar container */
.navbar__container{
    display: flex;   
}

.navbar__navigate{
    width: 100%;
    height: 76px;
    display: flex;
    

}
.navbar__navigate-img{
    width: 170px;
    height: 40px;
    margin-top: 12px;
    cursor: pointer;
}

.navbar__navigate-title {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.navbar__navigate-title-name {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.7rem;
    margin-left: 28px;
    padding: 12px;
    cursor: pointer;
}
/* packages menu */
.navbar__navigate-title-name-packages {
    position: relative;
    z-index: 1;
    
}

.navbar__navigate-title-name-packages:hover .navbar__navigate-title-packages-sub {
    display: block;
    
}

.navbar__navigate-title-packages-sub::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    background-color:transparent;
    top: -20px;
}

.navbar__navigate-title-packages-sub{
    position: absolute;
    width: 190px;  
    border: 1px solid #fff;
    left: -20px;
    margin-top: 20px;
    box-shadow: 0 0.1rem 0.2rem #14B9D5;
    padding: 0;
    border-radius: 2px;
    background-color: #fff;
    display: none;
}

.navbar__navigate-title-package {
    list-style: none;
    justify-content: space-between;
}

.navbar__navigate-title-package:hover {
    background-color: #f9f9f9;
}

.navbar__navigate-title-package-link {
    display: inline-block;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    padding: 15px 20px;
    left: 0;
    margin-left: 10px;
    border-bottom: 1px solid #F1F1F1;
}

.navbar__navigate-title-package-rank {
    padding: 2px 8px;
    background-color: #F76570;
    border-radius: 3px;
    font-size: 1rem;
    color: var(--white-color);
}

.avbar__navigate-title-package-icon {
    align-items: center;
    margin-left: 8px;
}


.btn {
    text-decoration: none;
    border-radius: 20px;
    border: none;
    line-height: 1.4rem;
    padding: 10px 24px;
    background-color: #14B9D5;
    font-weight: 400;
    color: var(--white-color);
    cursor: pointer;
}

/* packages sub menu */
.navbar__navigate-title-package-submenu {
    position: absolute;
    display: block;
    width: 190px;
    left: 210px;
    top: 105px;
    background-color: #fff;
    box-shadow: 0 0.1rem 0.2rem #14B9D5;
    padding: 0;
    display: none;
    z-index: 1;
}

.navbar__navigate-title-package-submenu::before {
    content: "";
    left: -18px;
    position: absolute;
    display: block;
    width: 10%;
    height: 40px;
    background-color:transparent;
    top: 2px;
}


.navbar__navigate-title-package-link-tour:hover .navbar__navigate-title-package-submenu{
    display: block;
    
}


.navbar__navigate-title-package-sub {
    list-style: none;
    border-bottom: 1px solid #F1F1F1;
    font-size: 1.7rem;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between; 
}

.navbar__navigate-title-package-sub:hover {
    background-color: #f9f9f9;
}
.navbar__navigate-title-package-sub-link{
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    
    
}

.navbar__navigate-title-package-sub-rank {
    font-size: 1.5rem;  
    text-decoration: none;
    color: var(--white-color);
    background-color: #14B9D5;
    border-radius: 3px;
    padding: 0 8px;

}   

.navbar__navigate-title-package-icon {
    font-size: 1.6rem;
    margin-left: 10px;
}
 /* SHOP */
.navbar__shop{
    position: relative;
    z-index: 1;
}

.navbar__shop:hover .submenu {
    display: block;
}
.navbar__shop-title {
    position: absolute;
    top: 20px;
    left: -20px;
    
}

.navbar__shop-title::before {
    content: "";
    left: -2px;
    position: absolute;
    display: block;
    width: 74%;
    height: 28px;
    background-color: transparent;
    top: -20px;
}


.navbar__shop-title-link:hover {
    background-color: #f9f9f9;
}

/* navbar about menu */
.navbar__about {
    position: relative;
    z-index: 1;
}

.navbar__about:hover .navbar__about-menu {
    display: block;
}

.navbar__about-menu {
    position: absolute;
}

.navbar__about-menu::before {
    content: "";
    left: -2px;
    position: absolute;
    display: block;
    width: 74%;
    height: 28px;
    background-color: transparent;
    top: -20px;

}

.navbar__about-title:hover {
    background-color: #f9f9f9;
}

.navbar__about-title-rank {
    background-color: #1BBC9B;
    border-radius: 5px;
    padding: 1px 8px;
    color: var(--white-color);
    font-size: 1.4rem;
}

/* Navbar Page menu */
.navbar__pages {
    position: relative;
    z-index: 1;
}
.navbar__pages:hover .navbar__page-menu {
    display: block;
}

.navbar__page-menu {
    position: absolute;
}

.navbar__page-menu::before {
    content: "";
    left: -2px;
    position: absolute;
    display: block;
    width: 74%;
    height: 28px;
    background-color: transparent;
    top: -20px;

}

.navbar__page-menu-title:hover {
    background-color: #f9f9f9;

}

/* Page menusub */

.navbar__page-menu-title-sub {
    position: relative;
}

.navbar__page-menu-title-sub:hover .page__menu-sub {
    display: block;
}

.page__menu-sub {
    position: absolute;
    left: 190px;
    top: -15px;
}

.page__menu-sub::before {
    content: "";
    left: -63px;
    position: absolute;
    display: block;
    width: 40%;
    height: 102px;
    background-color: transparent;
    top: 0px;
}

.page__menu-sub-link {
    display: block;
}

.page__menu-sub-link:hover {
    background-color: #f9f9f9;

}

.navbar__page-menu-title-icon {
    font-size: 1.6rem;
    
}

/* menu news */
.navbar__news-menu {
    position: relative;
    z-index: 1;
}

.navbar__news-menu:hover .navbar__news-menu-title {
    display: block;
}

.navbar__news-menu-title {
    position: absolute;
}

.navbar__news-menu-title::before {

content: "";
left: -2px;
position: absolute;
display: block;
width: 74%;
height: 28px;
background-color: transparent;
top: -20px;
}
.navbar__news-menu-item:hover {
    background-color: #f9f9f9;

}

.navbar__news-menu {
    position: relative;
}

.navbar__page-menu-title-icon {
    position: absolute;
    right: 0;
}

/*news menusub */
.navbar__news-menu-sub {
    position: relative;
}

.navbar__news-menu-sub:hover .navbar__news-menu-sub-title {
    display: block;
}

.navbar__news-menu-sub-title {
    position: absolute;
    left: 190px;
    top: -15px;
}
.navbar__news-menu-sub-title::before {
    content: "";
    left: -63px;
    position: absolute;
    display: block;
    width: 40%;
    height: 102px;
    background-color: transparent;
    top: 0px;
}

.navbar__news-menu-sub-item:hover {
    background-color: #f9f9f9;

}
 /* contact menu */
.navbar__contact-menu{
    position: relative;
    z-index: 1;
}


.navbar__contact-menu:hover .navbar__contact-menu-title {
    display: block;
}

.navbar__contact-menu-title{
    position: absolute;
}
.navbar__contact-menu-title::before {
content: "";
left: -2px;
position: absolute;
display: block;
width: 74%;
height: 28px;
background-color: transparent;
top: -20px;
}
.navbar__contact-menu-item:hover {
    background-color: #f9f9f9;

}

/* tablet-moblie */
.navbar__tablet-icon {
    display: none;
    font-size: 3rem;
    margin: auto;
}



/* slider */
.slider {
    position: relative;
    margin-top: 0px;
    padding-top: 50%;
    background: url('/assets/css/img/slider1.jpg') top center / cover no-repeat;
    height: auto;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    font-size: 2.2em;
    color: var(--white-color);
    
}

.text-heading p {
    padding: 20px 0;
    justify-content: center;

}

.circle:before {
    position: absolute;
    content: ' \25CF';
    font-size: 1150px;
    color: rgb(248, 145, 202, 0.2);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: -1;
}

.content {
    margin: auto;
}

.btn-shop {
    font-size: 1.6rem;
    padding: 20px 80px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
}

.btn-shop:hover {
    cursor: pointer;
    background-color: #fff;
    
    color: rgb(186, 233, 243);
}

/* content */

.content {
    width: 100%;
    display: flex;
    position: relative;


}
.content__heading {
    position: relative;
    height: 170px;
    width: 100%;
    
}
/*  */
.content__about-title.content__about-title-mrg {
    margin: 0;
}

.content__about-icon {
    position: absolute;
    color: var(--white-color);
    font-size: 3.5rem;
    margin-left: 25px;
    margin-top: 25px;
    
}
.content__about-title-sub {
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    margin-left: 25px;
}

.content__about-title-sub h3 {
    font-size: 2.4rem;
    margin-bottom: 12px;

}

.content__about-title-sub span {
    font-style: 1.5rem;
}
/*  */
.content__heading-title {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content__heading-title span {
    font-size: 1.6rem;
    opacity: 0.6;
}

.content__heading-title h2  {
    font-size: 3.6rem;
    font-weight: 900;
    color: #555;
    
}

.content__container {
    width: 100%;
    /* display: flex; */
    /* position: absolute; */
    height: 100%;
}

.content__about {
    height: 100%;
    width: 100%;
    margin-left: 170px;
    margin-right: 170px;
    justify-content: center;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;  */
}

.content__img {
    width: 270px;
    height: 356px;
}

.content__about-nav {
    display: flex;
    overflow: hidden;
}

.content__about-nemu {
    display: block;
}
.content__about-title {
    display: flex;
    padding: 12px 0;
    position: relative;
}

.content__img-sub {
    width: 98px;
    height: 98px;
}

.content__about-subtitle {
    flex: 1;
    margin-left: 30px;
}

.content__about-subtitle span {
    font-size: 2.2rem;
}

.content__about-subtitle p {
    font-size: 1.8rem;
    opacity: 0.6;
    margin-top: 10px;

}

.content__about-price {
    font-size: 1rem;
    padding: 10px 28px;
    border-radius: 20px;
    background-color: #0379A0;

}
/* content-infor */
.content__about-infor {
    /* display: flex; */
    position: relative;
    height: 100%;
    justify-content: center;
    margin: 50px 0;
}

.content__about-infor-title {
    text-align: left;

}

.content__about-infor-title span {
    opacity: 0.5;
    font-size: 1.6rem;
}

.content__about-infor-title h2 {
    font-size: 4rem;
    font-weight: 200;
    color: #7B5555;
    opacity: 0.95;
    
}
.content__about-infor-sub {
    text-align: center;
}

.content__about-infor-sub h2 {
    margin-top: 8px;
    margin-bottom: 26px;

}
.content__about-infor-item h2 {
    font-size: 4rem;
        color: #555;
}

.content__about-infor-heading {
    display: inline-block;
    width: 100%;
}
.content__about-infor-item p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    opacity: 0.4;
    margin: 5px auto;
}

.content__about-infor-heading h2 span {
    font-size: 3rem;
    opacity: 0.5;
}

/* infortrips */
.infortrips {
    /* display: flex; */
    /* position: relative;
    height: 555px; */
    padding:  50px 0;

    background: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/summer-holiday/wp-content/uploads/sites/4/2018/11/para-2.jpg) top center / cover no-repeat;
    
}


.infortrips__heading {
    color: var(--white-color);
    margin-bottom: 50px;
    text-align: center;
}
.infortrips__heading h3 {
    font-size: 1.6rem;
}

.infortrips__heading h2 {
    font-size: 3.6rem;
}

.infortrips__search {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    /* position: absolute; */
    background-color: white;
    /* top: 200px;
    left: 50%;
    transform: translateX(-50%); */
}

.infortrips__search-title {
    display: block;
    margin: 40px 0 20px 30px;
    font-weight: 900;
    font-size: 1.2rem;
}

.infortrips__search-input {
    width: 100%;
    margin: 0 20px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 3.8rem;
    border-radius: 3rem;
    border: none;
    background-color: #f9f9f9;
    padding: 0 30px;
    opacity: 0.8;
}

.infortrips__search-btn {
    width: 100%;
    margin: 76px 20px 0;
    line-height: 3.8rem;
    font-size: 1.4rem;
    border-radius: 3rem;
    border: none;
    background-color: #14B9D5;
    opacity: 0.8;
    color: var(--white-color);
    font-weight: 100;
}

.infortrips__search-btn:hover {
    cursor: pointer;
}

.infortrips__heading {
    top: 20%;
}

/* newtrips */

.newtrips {
    margin: 50px 0;
    position: relative;
    width: 100%;
}

.newtrips__blog {
    background-color: #14B9D5;
    padding: 40px;
    
}

.newtrips__news {
    color: white;
    border-bottom: 2px solid white;
    margin: 50px 0 30px;
}

.newtrips__news h3 {
    font-weight: 300;
    font-style: 1.4rem;
}

.newtrips__news h2 {
    font-size: 5rem;
    line-height: 5rem;
    margin: 30px 0;
}

.newtrips__sub  {
    margin: 30px 0 0;
}

.newtrips__sub p {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 3rem;
}

.see-blog {
    font-size: 1.4rem;
    padding: 8px 30px;
    border-radius: 20px;
    border: none;
    color: #14B9D5;
    background-color: var(--white-color);
}

/* moretrips */
.classface {
    /* padding-bottom: 30px; */
    margin: 0 0 34px;
}

.moretrips {
    border: 1px solid #f1f1f1;

}

.about__trip {
    padding: 30px;
}

.about__trip-date {
    font-size: 1.4rem;
    opacity: 0.6;
}

.about__trip-title {
    font-size: 2.4rem;
    font-weight: 900;
    opacity: 0.8;
    line-height: 5rem;
}

.about__trip-sub-title {
    line-height: 2.4rem;
    font-size: 1.4rem;
    opacity: 0.5;
}

.about__trip-btn {
    border: none;
    color: white;
    background-color: #14B9D5;
    padding: 10px 25px;
    font-size: 1.4rem;
    border-radius: 20px;
    margin: 30px 0 0;
}

.btn__readmore {
    background-color: #0071A7;

}

/* infortrip-footer */
.abouttrip__footer {
    position: relative;
    padding: 80px 0;
    margin:  0;
    margin-top: 20px;
    background: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/summer-holiday/wp-content/uploads/sites/4/2018/11/para-5.jpg) top center / cover no-repeat;
    
}

.abouttrip__content {
    display: flex;
    align-items: center;

}

.abouttrip__content h2 {
    font-size: 8rem;
    color: #eed1d1;
    margin: 0 20px 0 0;
    font-weight: 500;
}

.abouttrip__content p {
    color: #eed1d1;
    font-size: 1.4rem;
    font-weight: 700;
}

/* registrantion */
/* .registration {
    width: 100%;
    height: 730px;
    display: flex;
    position: relative;
    
    top: 350px;
} */

.registration__title {
position: relative;
height: 170px;
width: 100%;
}

.registration_title-heading {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
}

.registration__title span {
    font-size: 1.6rem;
    opacity: 0.6;
}

.registration__title h2 {
    font-size: 3.6rem;
    font-weight: 900;
    color: #555;
}

.registration__form {
    width: 100%;
    height: 100%;
    margin: 50px 0;

}


/* registration form */
.registration__form-column {
    width: 100%;
    height: 480px;
    border: 1px solid #f1f1f1;
    padding: 0 31px 0 30px;

}

.registration__form-cost {
    display: flex;
    width: 100%;
}

.registration__form-cost h2 {
    font-size: 6rem;
    font-weight: 400;
    opacity: 0.6;
}

.registration__form-cost h3 {
    font-size: 3rem;
    font-weight: 400;
}

.registration__form-cost-monthly h2 {
    font-size: 1.2rem;
    padding: 2px 10px;
    background-color: #555;
    border-radius: 15px;
    color: white;
    margin: 40px 0 0 140px;
}
.registration__form-title {
    font-size: 3rem;
    font-weight: 900;
    opacity: 0.6;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 0 30px 0;
}

.registration__sub-title p {
    margin: 15px 0;
    font-size: 1.6rem;
    opacity: 0.4;
}

.registration__form-icon {
    font-size: 1.2rem;
    color: green;
}

.registration__form-column-premium {
    background-color: #14B9D5;
}

.btn__premium {
    color: #F8EFE9;
    background-color: #14B9D5;
    border: 1px solid #fff;

}

.button__premium h2 {
    color: #fff;
    background-color: #14B9D5;
    border: 1px solid #fff;
}

/* footer */
.footer {
    /* height: 630px; 
    top: 350px;
    display: flex; */
    position: relative;  
    padding-bottom: 50px; 
    /* margin: 0;   
    margin-top: 0px; */
    background: url(https://scr.vn/wp-content/uploads/2020/07/H%C3%ACnh-n%E1%BB%81n-bi%E1%BB%83n-Full-HD-ng%C3%A0y-n%E1%BA%AFng-%C4%91%E1%BA%B9p-2048x1366.jpg) top center / cover no-repeat;
}

.footer__content {
    height: 100%;
    width: 100%;
}

.footer__content-title {
    display: flex;
    position: relative;
    padding: 50px 0;

}

.footer__content-title-logan {
    text-align: center;   

}
.footer__content-title-logan h3 {
    color: white;
    font-size: 1.6rem;
    font-weight: 100;
}

.footer__content-title-logan h2 {
    color: white;
    font-size: 4rem;
    font-weight: 900;
}

.footer__content-title-infor {
    text-align: center;   
    margin: 20px 0;
}

.footer__content-title-input {
    padding: 15px 80px;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
}

.footer__content-title-btn {
    padding: 15px 28px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #14B9D5;
}

.footer__content-sub-introduce {
    height: 100%;
    background-color: var(--white-color);
    padding: 35px 30px;
    position: relative;
}

.footer__content-sub-title {
    padding: 0  25px 0 30px;
    height: 218px;
    position: relative;
}

.footer__img {
    width: 150px;
}

.footer__content-sub-content {
    margin: 30px 0;
}

.footer__content-sub-content p {
    font-size: 1.5rem;
    line-height: 1rem;
    opacity: 0.6;
}

.footer__social {

}

.footer__social-icon {
    font-size: 3rem;
    color: black;
    padding: 0 10px;
    opacity: 0.6;
}


.footer__content-sub-menu {
    position: relative;
}

.footer__content-sub-menu-name {
    font-size: 1.6rem;
    font-weight: 900;
    opacity: 0.8;
    padding: 10px 0 0 0;
}

.footer__content-sub-menu-option {
    padding: 30px 0;
}   

.footer__content-sub-menu-option li {
    font-size: 1.4rem;
    opacity: 0.6;
    line-height:2.5rem;
    list-style: none;
}

.footer__content-sub-menu-icon {
    padding-right: 10px;
    opacity: 0.4;
}

.footer__content-end {
    height: 100%;
    background-color: #14B9D5;
    position: relative;
}

.footer__content-end-logan {
    font-size: 1.4rem;
    color: white;
    padding: 30px 20px;
}

.footer__content-end-company {
    font-size: 1.4rem;
    color: white;
    padding: 30px 20px;
    float: right;

}

